@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Accessible focus effects
https://uxdesign.cc/create-better-accessible-focus-effects-75a3de27b8ba
*/

:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.0625rem #facc15 !important; /* 1px */
  /* Tailwind CSS color yellow-400 === #facc15 */
  border-color: transparent !important;
  border-radius: 0.5rem;
  /* Tailwind CSS rounded-lg === 0.5rem === 8px */
}

html,
body {
  scroll-behavior: smooth;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
